include README.rst
include CHANGELOG.txt
include LICENSE
include setup.py
include pyproject.toml
include requirements.txt

recursive-include PyAwaish/templates *
recursive-include PyAwaish/static *

prune .idea
prune dist
prune PyAwaish.egg-info

global-exclude *.py[cod]
global-exclude *.log
global-exclude *.tmp